body{
    margin: 0;
}
.middhlePart{
    display: flex;
}
.flexible{
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
}
.flexible img{
    width: 100%;
    height: 500px;
}
.hBoder{
    border-left: 3px solid orangered;
}
.hBoder h1{
    font-size: 40px;
}
.hBoder h1 span{
    color: olive;
}
.flexible p{
    font-size: 18px;
    color: grey;
    margin-bottom: 50px;
    margin-top: 30px;
}
.button{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 30px;
    background-color: brown;
    color: aliceblue;
}
.mTitle{
    text-align: center;
    font-size: 40px;
}
.mTitle span{
    color: orange;
}
.missionContainer{
    display: flex;
}
.missionChield{
    width: 30%;
    margin-right: 2%;
    padding: 2%;
}
.missionChield img{
    width: 60%;
    margin-left: -20px;
}
.missionChield p{
    color: gray;
}
.c1{
    background-color: antiquewhite;
}
.c2{
    background-color: skyblue;
}
.c3{
    background-color: aquamarine;
}
.codingText{
    width: 55%;
    padding: 2%;
}
.codingImg{
    width: 40%;
}
.codingImg img{
    width: 100%;
    height: fit-content;
}
.codingWrap{
    margin-top: 80px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120px;
}
.CommunityWrap{
    margin-top: 80px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 120px;
}